<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jackpal.androidterm"
      android:versionName="1.0.62"
      android:versionCode="63"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/ic_launcher"
                android:label="@string/application_terminal"
                android:hardwareAccelerated="true">
        <activity android:name="jackpal.androidterm.Term"
                android:theme="@style/Theme"
                android:launchMode="singleTask"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
        </activity>
        <activity-alias android:name="TermInternal"
                android:targetActivity="Term"
                android:exported="false">
            <intent-filter>
                <action android:name="jackpal.androidterm.private.gnurootdebian.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="jackpal.androidterm.private.gnurootdebian.SWITCH_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name="jackpal.androidterm.RemoteInterface"
                android:excludeFromRecents="true">
        </activity>
        <activity-alias android:name="RunScript"
                android:targetActivity="RemoteInterface">
        </activity-alias>
        <activity android:name="jackpal.androidterm.TermPreferences"
                android:label="@string/preferences"/>
        <activity android:name="jackpal.androidterm.WindowList"
                android:label="@string/window_list" />
        <service android:name="jackpal.androidterm.TermService" />
    </application>
</manifest>
