<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnuroot.debian"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"
    android:versionCode="35"
    android:versionName="0.4.1_armhf" >
    
    <supports-screens android:resizeable="true"
                      android:smallScreens="true"                       
                      android:normalScreens="true"                       
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        tools:replace="android:icon, android:label, android:theme, android:allowBackup"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            tools:replace="android:label, android:name"
            android:name="com.gnuroot.debian.GNURootMain"
            android:label="@string/app_name" 
        	android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.UPDATE_ERROR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.GNUROOT_REINSTALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.TOAST_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GNURootServerSettings">

        </activity>

        <service android:name=".GNURootService" />
        <service android:name=".GNURootLauncherService" />

        <service
            android:name=".GNURootNotificationService">
            <intent-filter>
                <action android:name="com.gnuroot.debian.bVNC_DISCONNECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.gnuroot.debian.GNURootOldService"
            android:exported="true">
			<intent-filter>
				<action android:name="com.gnuroot.debian.INSTALL_TAR" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="content"/>
				<data android:mimeType="application/x-tar"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.gnuroot.debian.INSTALL_TAR" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file"/>
				<data android:mimeType="application/x-tar"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.gnuroot.debian.RUN_SCRIPT_STR" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.RUN_XSCRIPT_STR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.RUN_BLOCKING_SCRIPT_STR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<intent-filter>
				<action android:name="com.gnuroot.debian.INSTALL_PACKAGES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.gnuroot.debian.CHECK_STATUS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.CHECK_PREREQ" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gnuroot.debian.CONNECT_VNC_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</service>
        
        <activity android:name="com.gnuroot.debian.GNURootDownloaderActivity"
                android:excludeFromRecents="true"
                android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
        <service android:name="com.gnuroot.debian.GNURootDownloaderService" />
        <receiver android:name="com.gnuroot.debian.GNURootAlarmReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gnuroot.debian.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>